/*Parent*/
.PaginationWithSelectBlock{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
/*Children*/
.paginationBlock{
    width: 390px;
}
.selectBlock{
    min-width: 88px;
}
.selectBlock>*{
    height: 40px;
}
/*ReactPaginate*/
.container {
    height: 40px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
}
.container a{
    color: #707070;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.container a:focus {
    outline: none;
}
.container a:hover{
    border-radius: 4px;
    transition: 0.3s;
    background-color: #FF768E;
    color: white;
}

.prevBlock{
    transform: matrix(-1, 0, 0, 1, 0, 0);
}
.prevBlock:hover img, .nextBlock:hover img{
    filter: brightness(100);
}

.active a{
    color: #fff;
    background-color: #E4163A;
    cursor: default;
    border-radius: 4px;
}
.active a:hover{
    background-color: #E4163A;
}

@media (max-width: 470px) {
    /*selectBlock*/
    .selectBlock{
        min-width: 65px;
        height: 28px;
    }
    .selectBlock svg{
        padding-bottom: 7px;
    }


    /*paginationBlock*/
    .paginationBlock div{
        width: 20%;
    }

    /*ReactPaginate*/
    .container{
        height: 28px;
        font-size: 12px;
    }
    .container a{
        width: 25px;
        height: 25px;
    }
    .container a:hover{
        color: #707070;
        background: none;
    }

    .prevBlock img, .nextBlock img{
        width: 4px;
    }
    .prevBlock, .nextBlock a:hover{
        background: none;
    }
    .prevBlock:hover img, .nextBlock:hover img{
        filter: brightness(0);
    }

    .pageListItem a:hover{
        background-color: #E4163A;
        transition: 0s;
        color: white;
    }
}